* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #080808;
  background-image: url('assets/Frame_4.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto; /* Faz a imagem ocupar toda a largura e ajustar a altura automaticamente */
  width: 100vw;
}

a{
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

a:hover{
  color: #b3b3b3;
}

.titleAwards, .footerLogo h1{
  font-family: 'Raleway', sans-serif;
}