.indicados-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background: url('../../assets/Frame_4.png') no-repeat center center;
            background-size: cover; */
}

.indicados-container .categoriesNominees{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    line-height: 3.3em;
    font-size: 15px;
    height: 3.3em;
    position: fixed;
    background-color: #071455;
    box-sizing: border-box;
    z-index: 100;
}


.categoriesNomineesSection{
    display: flex;
}


.categoriesNominees .backToHome{
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
    justify-content: center;
    width: 10em;
}

.categoriesNominees .backToHome:hover{
    display: flex;
    align-items: center;
    color: rgb(168, 185, 255);
    transform: translateX(-6px);   
}

.categoriesNominees .backToHome svg{
    transform: translateX(-6px);   
}

.categoriesNominees .backToHome:hover svg{
    transform: translateX(-8px);
}


.categoriesNomineesSection a{
    transition-duration: 0.3s;
}

.categoriesNomineesSection a:hover{
    transform: translateY(-2px);
    color: rgb(168, 185, 255);
}

.categoriesNomineesSection div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.categoriesNomineesSection div:first-child{
    margin-right: 4em;
    margin-left: 1em;
}

.categoriesNomineesSection div:last-child{
    margin-left: 4em;
    margin-right: 1em;
}


.indicados-container .categoriesNominees svg{
    width: 1.7em;
    transition: transform 0.3s;
}

.setaAnterior:hover{
    transform: translateX(-6px);
    transition-duration: 0.3s;
    color: rgb(168, 185, 255);
}

.setaAnterior:hover svg{
    transform: translateX(-4px);
}

.setaProximo:hover{
    transform: translateX(6px);
    transition-duration: 0.3s;
    color: rgb(168, 185, 255);
}

.setaProximo:hover svg{
    transform: translateX(4px);
}


.indicados-container .categoriesNominees a{
    width: auto;
    white-space: nowrap;
}

.lowOpacity{
    opacity: 0.3 !important;
}

.votesCast{
    display: flex;
    justify-content: center;
    width: 150px;
    font-size: 19px;
}

.indicados-container .indicadosSection{
    margin-top: 3em;
    width: 85%;
}

.indicados-container .indicadosSection div{
    display: flex;
    justify-content: space-between;
}

.finishButton{
    background-color: #0e2581;
    border: 1px solid rgba(255, 255, 255, 0.292);
    color: white;
    font-weight: bold;
    padding-inline: 1em;
}

.indicados-container h1{
    color: #A7AAFF;
    font-size: 44px;
    margin-bottom: 0em;
    text-transform: uppercase;
}

.indicados-container h2{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1.3em;
}

.indicados-container .indicadosSection ul{
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: start;
}

.indicados-container .indicadosSection ul li:first-child{
    margin-left: 0em;
}

.indicados-container .indicadosSection ul li{
    margin-bottom: 0em;
}

.indicados-container .indicadosSection ul > *{
    margin-inline: 0.7em;
}

@media (max-width: 700px){
    .indicados-container{
        /* margin-top: 4.8em; */
    }
    .indicados-container .indicadosSection{
        width: 92%;
    }

    .indicados-container .indicadosSection ul{
        justify-content: center;
    }

    .backToHome{
        display: none !important;
    }

    .votesCast{
        display: none !important;
    }
}