.categories {
    width: 100%;
    display: flex;
    justify-content: center;
}

.categories h1 {
    width: 100%;
    text-align: center;
    line-height: 3.3em;
    font-size: 15px;
    height: 3.3em;
    position: fixed;
}

.categoriesPurple h1{
    background-color: rgb(39, 4, 68);
}

.categoriesBlue h1{
    background-color: rgb(10, 27, 112);
}

.categories div{
    width: 70%;
    margin-top: 5em;
}

.categories h2 {
    margin-left: 0.5em;
}

.indicados {
    display: block;
    color: rgb(162, 176, 255);
    font-weight: 800;
    margin-bottom: 0.3em;
}


.categories div p{
    display: flex;
    flex-wrap: wrap; 
    justify-content: start;
    align-items: center;
}

.categories div p a {
    width: 150px;
    height: 150px;
    font-size: 18px;
    font-weight: 500;
    margin: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition-duration: 0.3s;
    color: white;
}

.categoriesCardPurple a{
    border: solid rgba(192, 125, 255, 0.3) 1px;
}

.categoriesCardPurple a:hover{
    background-color: rgb(71, 7, 114);
    border: solid rgba(125, 182, 255, 0) 1px;
}

.categoriesCardBlue a{
    border: solid rgba(125, 182, 255, 0.3) 1px;
}

.categoriesCardBlue a:hover{
    background-color: rgb(0, 31, 69);
    border: solid rgba(125, 182, 255, 0) 1px;
}

@media (max-width: 700px){
    .categories div p{
        justify-content: center;
    }

    .categories div p a {
        width: 90%;
        height: 60px;
        margin: 0.4em;
    }
}
