.movie-card {
    margin-inline: 0.3em;
    border-radius: 2%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.movie-card img {
    height: 18.1vw;
    border-radius: 2%;
}

.movie-card:hover {
    transform: scale(1.015);
    transition: transform 0.3s linear;
}

.movie-card:hover .button-backgroundNone{
    opacity: 1;
}

.movie-card button {
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
    right: 40%;
    font-size: 1.7vw;
    z-index: 1;
}

.movie-card button:hover {
    color: #2164f3;
}

.movie-card .noFavorite {
    color: white;
    opacity: 0;
    transition-duration: 0.4s;
}

.movie-card .noFavorite:hover {
    color: #00B2FE !important;
}

.movie-card:hover .noFavorite {
    opacity: 1;
}

.favorite {
    z-index: 9999;
}

.button-background {
    transition-duration: 0.3s;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0em;
    width: 14em;
    height: 13%;
    background-color: black;
    z-index: 0;
}

.button-backgroundNone{
    opacity: 0;
}

@media (max-width: 1000px) {
    .movie-card button {
        font-size: 16px;
    }
}

.color {
    color: #2164f3;
    opacity: 1;
    transition-duration: 0.4s;
}

.noColor {
    color: #2164f3;
    opacity: 0;
    transition-duration: 0.4s;
}

.movie-card .hover {
    color: #BB271A !important;
}

@media (max-width: 700px) {
    .button-background{
        height: 20%;
    }
}

@media (max-width: 600px) {
    .button-background{
        height: 24%;
    }

}

@media (max-width: 1000px) {
    .movie-card img {
        height: 27.1vw;
        border-radius: 2%;
    }   

}
