#navbar {
    flex-direction: row;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding-top: 0.6em;
    width: 100%;
    min-height: 91px;
    padding-inline: 5em;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 1000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(39, 4, 68, 0.7);
}

.navbarPurple{
    background-color: rgba(39, 4, 68, 0.7) !important;
}

.navbarBlue{
    background-color: rgba(23, 37, 117, 0.7) !important;
}

.logoImg {
    width: 4em;
}

.userImg {
    width: 3em;
}

.optionsNavbar {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.optionsNavbar button {
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: white;
}

.optionsNavbar a {
    /* padding-right: 0.5; */
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.optionsNavbar a:hover {
    color: rgb(255, 255, 255);
}

/* Linha abaixo das opções */
.optionsNavbar a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0%; /* Começa sem largura */
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
    transition: width 0.4s ease-in-out;
    transform: translateX(-50%);
}

.optionsNavbar a:hover::before {
    width: 100%; /* Expande ao passar o mouse */
}

.winnerNavbarButton{
    color: rgba(255, 255, 255, 0.444);
    margin-left: 1.5em;
}

.optionsNavbar a {
    margin-left: 1.5em;
}

#navbar div a svg {
    transform: scale(1.8);
    margin-bottom: 0.4em;
    transition-duration: 0.3s;
}

#navbar div a svg:hover {
    color: rgb(181, 195, 255);
}

/* Responsividade */
@media (max-width: 700px) {
    #navbar {
        flex-wrap: wrap;
        justify-content: center;
        padding-inline: 2em;
    }
    .optionsNavbar {
        justify-content: center;
        flex-direction: column;
    }
    .optionsNavbar a {
        margin-block: 0.4em;
        font-size: 1em;
    }
    .optionsNavbar a {
        margin-left: 0;
    }

    .optionsNavbar a:hover::before {
        width: 100%; /* Expande ao passar o mouse */
    }

    .marginTop0em{
        margin-top: 0em !important;
    }

    #navbar div:last-child{
        margin-top: 0.7em;
    }

    .winnerNavbarButton{
        margin-left: 0em;
        margin-block: 0.4em;
    }
}
