 .nomineesCardDiv li{
    /* height: 15em; */
    transition: transform 0.5s ease, filter 0.5s ease;  
} 

.nomineesCardDiv li:hover{
    transform: translateY(5px);
} 

.marginBottom5em{
    padding-bottom: 1em;
}

.nomineesCardB {
    width: 16em !important;
}

.nomineesCardB .voteButton {
    top: 13em !important;
}

.nomineesCardB h2{
    margin-top: 3.2em !important;
}


.nomineesCard {
    display: flex;
    width: 7.5em;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 17.3em;
}


.nomineesCard img {
    z-index: 30;
    width: 100%;
}

.nomineesCard .winner_background {
    position: absolute;
    top: 1px;
    left: -5px;
    z-index: 10; 
    scale: 1.08;
    width: 100%;
    display: none;
}

.nomineesCard .voteButton {
    z-index: 50;
    position: absolute;
    top: 14.3em;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 16px;
    height: 3.6em;
    font-weight: bold;
    color: white;
    background-color: #2C3B88;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nomineesCard .voteButton:hover {
    background-color: #4455aa;
}

.nomineesCard h2{
    z-index: 50;
    margin: 0.5em;
    margin-top: 1.4em;
    width: 100%;
    font-weight: 700;
    font-size: 18.5px;
}

.nomineesCard p{
    z-index: 50;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
}

.votado{
    border: #8F9BFF, solid 2px !important;
}

.unVote{
    cursor: default !important;
}

.unVote:hover{
    background-color: #2C3B88 !important;
}

.unVote span{
    transition-duration: 0.5s;
    color: rgba(255, 255, 255, 0.6);
}

.unVoteDiv{
    transition-duration: 0.5s;
    filter: grayscale(100%);
}

.exchangeButton{
    z-index: 50;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 16px;
    height: 3.6em;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    font-weight: 550;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(147, 176, 255);
    background-color: rgba(44, 59, 136, 0.2);
    /* background-color: rgba(44, 59, 136, 0.6); */
    display: none;
}

.exchangeButton svg{
    font-size: 23px;
    margin-left: 5%;
}

.exchangeButton:hover{
    box-shadow: none;
    background-color: rgba(44, 59, 136, 0.9);
}

.exchangeButtonVisible{
    display: flex;
    align-items: center;
    justify-content: center;
}