.resultsCardDiv li{
    /* height: 15em; */
    transition: transform 0.5s ease, filter 0.5s ease;  
} 

.resultsCardDiv li:hover{
    transform: translateY(0px);
} 

.winnerCard {
    transform: translateY(0%); /* Começa à esquerda */
    animation: slideUP 1s ease-out forwards; /* Animação para a direita */
    animation-delay: 0.5s;
}

.nomineesCardB {
    width: 16em !important;
}

.nomineesCardB img{
    height: auto !important;
}

.nomineesCardB .voteButton {
    top: 13em !important;
}

.nomineesCardB h2{
    margin-top: 3.2em !important;
}


.nomineesCard {
    display: flex;
    width: 7.5em;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 17em;
}


.nomineesCard img {
    z-index: 30;
    width: 100%;
    position: relative;
    height: 266.5px;
}

.nomineesCard .winner_background {
    scale: 1.1;
    position: absolute;
    top: 4px; 
    left: -2px;
    width: 96%;
    height: auto;
    z-index: 20;
}

.nomineesCardB .winner_background {
    scale: 1.07;
    top: -2px !important; 
    left: 1px;
    width: 96%;
}

.nomineesCard .voteButton {
    z-index: 50;
    position: absolute;
    top: 14.3em;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 16px;
    height: 3.6em;
    font-weight: bold;
    color: white;
    background-color: #4455aa;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nomineesCard h2{
    z-index: 50;
    margin: 0.5em;
    margin-top: 1.4em;
    width: 100%;
    font-weight: 700;
    font-size: 18.5px;
}

.nomineesCard p{
    z-index: 50;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
}

.vencedor{
    border: #8F9BFF, solid 2px !important;
    cursor: default !important;
}

.voteExpired{
    cursor: default !important;
}

.voteExpired span{
    color: rgba(255, 255, 255, 0.6);
}

.voteExpiredDiv{
    filter: grayscale(100%);
}

@keyframes slideUP {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-1.5%);
    }
}